{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenAPI definition",
    "version": "v0"
  },
  "servers": [
    {
      "url": "http://api.memolink.io",
      "description": "Generated server url"
    }
  ],
  "tags": [
    {
      "name": "Conference Venue",
      "description": "Per-event venue + room hierarchy (relationship-scoped)"
    },
    {
      "name": "Moderation Admin",
      "description": "Admin review queue + manual override + appeal resolution"
    },
    {
      "name": "Delivery Galleries (Organizer)",
      "description": "Organizer create/list/update/delete + invite management for delivery galleries (relationship-scoped — event host only)"
    },
    {
      "name": "Conference Agenda",
      "description": "Per-event tracks/sessions/speakers + public agenda read"
    },
    {
      "name": "Safety Admin",
      "description": "Admin read-only view + clinician audit for safety resources"
    },
    {
      "name": "Photographer Profile",
      "description": "Opt-in self photographer profile + public read"
    },
    {
      "name": "Memory Search",
      "description": "Self-scoped person-aware NL memory search"
    },
    {
      "name": "Photographer Availability",
      "description": "Self-managed photographer availability windows"
    },
    {
      "name": "Discovery",
      "description": "Discover public events"
    },
    {
      "name": "Photographer Assignment",
      "description": "Per-event photographer assignment (org-scoped)"
    },
    {
      "name": "Notifications",
      "description": "Push notification management endpoints"
    },
    {
      "name": "Safety Resources",
      "description": "Curated clinician-verified, locale-routed crisis resources — never LLM-generated"
    },
    {
      "name": "Rate Limit Admin",
      "description": "Admin APIs for managing notification rate limits"
    },
    {
      "name": "Reflection Consent",
      "description": "Self-scoped reflection / content-understanding consent (opt-in / revoke) — RCN-01"
    },
    {
      "name": "Multipart Upload",
      "description": "Resumable multipart direct upload up to 50 GB (init/parts/status/complete)"
    },
    {
      "name": "Event AI Draft Apply",
      "description": "Apply a confirmed AI-draft suggestion into agenda + branding (relationship-scoped)"
    },
    {
      "name": "Speaker Profile",
      "description": "Opt-in self speaker profile + public read"
    },
    {
      "name": "Notification Retry Admin",
      "description": "Admin APIs for managing failed notification retries"
    },
    {
      "name": "Notification Templates",
      "description": "Notification template management API"
    },
    {
      "name": "Delivery Galleries (Public)",
      "description": "Anonymous, share-token-addressed gallery reads (metadata/unlock/photos/view/download) — the access truth table is enforced before any presign"
    },
    {
      "name": "Admin User Deletion",
      "description": "Admin APIs for immediate user hard delete (DSAR / abuse / legal)"
    },
    {
      "name": "Personal Schedule",
      "description": "Attendee's own saved sessions (self-scoped, IDOR-safe)"
    },
    {
      "name": "Insight Lifecycle",
      "description": "Self-scoped delete / dismiss of a user's own insights — INS-05"
    },
    {
      "name": "Org Photographers",
      "description": "Org admin read of photographers + availability (assignment surface)"
    },
    {
      "name": "Upload",
      "description": "Presigned single-PUT direct upload (init/finalize)"
    },
    {
      "name": "Person Graph",
      "description": "Self-scoped person CRUD, aliases and confidence-aware resolve"
    },
    {
      "name": "Capsule People",
      "description": "Tag/untag a person on one of my capsules"
    },
    {
      "name": "Deep Link Analytics",
      "description": "Deep link tracking and analytics APIs"
    },
    {
      "name": "Billing",
      "description": "Org subscription tier, usage, limits, and tier change (payment stubbed)"
    },
    {
      "name": "Org Branding",
      "description": "Org-level branding (logo/colors/font/watermark) + reusable templates (relationship-scoped — org admin only)"
    },
    {
      "name": "Insight Consent",
      "description": "Self-scoped generative-insights consent (opt-in / revoke) — PRIV-08"
    },
    {
      "name": "Photographer Photos",
      "description": "Per-event photographer upload + deliver (relationship-scoped)"
    },
    {
      "name": "Discovery Admin",
      "description": "Admin moderation for Discovery events"
    },
    {
      "name": "Analytics",
      "description": "Org & per-event read-only analytics (counts only)"
    },
    {
      "name": "Event Branding",
      "description": "Event-level branding override + resolved branding (relationship-scoped)"
    },
    {
      "name": "Event",
      "description": "Event management API"
    },
    {
      "name": "Resumable Upload",
      "description": "True resumable/chunked event-photo upload (CR-01 stream-through)"
    },
    {
      "name": "Event People",
      "description": "Tag/untag a person on one of my events"
    },
    {
      "name": "Event Curation",
      "description": "Organizer editorial curation of event media (relationship-scoped, on top of NSFW moderation)"
    },
    {
      "name": "Organization",
      "description": "Organization management API"
    }
  ],
  "paths": {
    "/api/event/{eventId}/poster": {
      "get": {
        "tags": [
          "Event"
        ],
        "summary": "Get Event Poster",
        "description": "Retrieves the event poster image",
        "operationId": "getEventPoster",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "4XX": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponse",
                  "example": {
                    "success": false,
                    "message": "Error message",
                    "data": null,
                    "errorCode": 100,
                    "timestamp": "2025-07-31T10:55:12.588Z",
                    "statusCode": 400,
                    "path": "/api/some-endpoint",
                    "errors": [
                      "Validation error occurred"
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "Upload Event Poster",
        "description": "Uploads or updates the event poster image (hosts only)",
        "operationId": "uploadEventPoster",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponseVoid"
                }
              }
            }
          },
          "4XX": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponse",
                  "example": {
                    "success": false,
                    "message": "Error message",
                    "data": null,
                    "errorCode": 100,
                    "timestamp": "2025-07-31T10:55:12.588Z",
                    "statusCode": 400,
                    "path": "/api/some-endpoint",
                    "errors": [
                      "Validation error occurred"
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Event"
        ],
        "summary": "Delete Event Poster",
        "description": "Deletes the event poster image (hosts only)",
        "operationId": "deleteEventPoster",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponseVoid"
                }
              }
            }
          },
          "4XX": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponse",
                  "example": {
                    "success": false,
                    "message": "Error message",
                    "data": null,
                    "errorCode": 100,
                    "timestamp": "2025-07-31T10:55:12.588Z",
                    "statusCode": 400,
                    "path": "/api/some-endpoint",
                    "errors": [
                      "Validation error occurred"
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "head": {
        "tags": [
          "Event"
        ],
        "summary": "Get Event Poster",
        "description": "Retrieves the event poster image",
        "operationId": "getEventPoster_1",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "4XX": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponse",
                  "example": {
                    "success": false,
                    "message": "Error message",
                    "data": null,
                    "errorCode": 100,
                    "timestamp": "2025-07-31T10:55:12.588Z",
                    "statusCode": 400,
                    "path": "/api/some-endpoint",
                    "errors": [
                      "Validation error occurred"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/event/{eventId}/photo/{photoId}": {
      "get": {
        "tags": [
          "Event"
        ],
        "summary": "Get Event Photo File",
        "description": "Downloads an event photo file (with access control)",
        "operationId": "getEventPhotoFile",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "photoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "4XX": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponse",
                  "example": {
                    "success": false,
                    "message": "Error message",
                    "data": null,
                    "errorCode": 100,
                    "timestamp": "2025-07-31T10:55:12.588Z",
                    "statusCode": 400,
                    "path": "/api/some-endpoint",
                    "errors": [
                      "Validation error occurred"
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Event"
        ],
        "summary": "Delete Event Photo",
        "description": "Deletes a photo from an event's album (uploader or hosts only)",
        "operationId": "deleteEventPhoto",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "photoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponseVoid"
                }
              }
            }
          },
          "4XX": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponse",
                  "example": {
                    "success": false,
                    "message": "Error message",
                    "data": null,
                    "errorCode": 100,
                    "timestamp": "2025-07-31T10:55:12.588Z",
                    "statusCode": 400,
                    "path": "/api/some-endpoint",
                    "errors": [
                      "Validation error occurred"
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "head": {
        "tags": [
          "Event"
        ],
        "summary": "Get Event Photo File",
        "description": "Downloads an event photo file (with access control)",
        "operationId": "getEventPhotoFile_1",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "photoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "4XX": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponse",
                  "example": {
                    "success": false,
                    "message": "Error message",
                    "data": null,
                    "errorCode": 100,
                    "timestamp": "2025-07-31T10:55:12.588Z",
                    "statusCode": 400,
                    "path": "/api/some-endpoint",
                    "errors": [
                      "Validation error occurred"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/event/{eventId}/file/{fileId}": {
      "get": {
        "tags": [
          "Event"
        ],
        "summary": "Get Event File",
        "description": "Downloads an event file",
        "operationId": "getEventFile",
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "4XX": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponse",
                  "example": {
                    "success": false,
                    "message": "Error message",
                    "data": null,
                    "errorCode": 100,
                    "timestamp": "2025-07-31T10:55:12.588Z",
                    "statusCode": 400,
                    "path": "/api/some-endpoint",
                    "errors": [
                      "Validation error occurred"
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Event"
        ],
        "summary": "Remove File from Event",
        "description": "Removes a file from an event (hosts only)",
        "operationId": "removeFileFromEvent",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponseVoid"
                }
              }
            }
          },
          "4XX": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponse",
                  "example": {
                    "success": false,
                    "message": "Error message",
                    "data": null,
                    "errorCode": 100,
                    "timestamp": "2025-07-31T10:55:12.588Z",
                    "statusCode": 400,
                    "path": "/api/some-endpoint",
                    "errors": [
                      "Validation error occurred"
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "head": {
        "tags": [
          "Event"
        ],
        "summary": "Get Event File",
        "description": "Downloads an event file",
        "operationId": "getEventFile_1",
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "4XX": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponse",
                  "example": {
                    "success": false,
                    "message": "Error message",
                    "data": null,
                    "errorCode": 100,
                    "timestamp": "2025-07-31T10:55:12.588Z",
                    "statusCode": 400,
                    "path": "/api/some-endpoint",
                    "errors": [
                      "Validation error occurred"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/event/{eventId}/file/{fileId}/variant/{size}": {
      "get": {
        "tags": [
          "Event"
        ],
        "summary": "Get Event File Variant",
        "description": "302-redirects to a presigned variant (thumbnail/etc.) of an event file, or 204 when no image preview exists",
        "operationId": "getEventFileVariant",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "THUMBNAIL",
                "SMALL",
                "MEDIUM",
                "STREAM",
                "WATERMARKED_PREVIEW"
              ]
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No image preview available"
          },
          "302": {
            "description": "Redirect to presigned variant URL"
          },
          "404": {
            "description": "Not found / not visible"
          },
          "4XX": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponse",
                  "example": {
                    "success": false,
                    "message": "Error message",
                    "data": null,
                    "errorCode": 100,
                    "timestamp": "2025-07-31T10:55:12.588Z",
                    "statusCode": 400,
                    "path": "/api/some-endpoint",
                    "errors": [
                      "Validation error occurred"
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "head": {
        "tags": [
          "Event"
        ],
        "summary": "Get Event File Variant",
        "description": "302-redirects to a presigned variant (thumbnail/etc.) of an event file, or 204 when no image preview exists",
        "operationId": "getEventFileVariant_1",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "THUMBNAIL",
                "SMALL",
                "MEDIUM",
                "STREAM",
                "WATERMARKED_PREVIEW"
              ]
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No image preview available"
          },
          "302": {
            "description": "Redirect to presigned variant URL"
          },
          "404": {
            "description": "Not found / not visible"
          },
          "4XX": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponse",
                  "example": {
                    "success": false,
                    "message": "Error message",
                    "data": null,
                    "errorCode": 100,
                    "timestamp": "2025-07-31T10:55:12.588Z",
                    "statusCode": 400,
                    "path": "/api/some-endpoint",
                    "errors": [
                      "Validation error occurred"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/capsule/file/{fileId}": {
      "get": {
        "tags": [
          "capsule-controller"
        ],
        "summary": "Get File",
        "description": "Retrieves a file by its fileId",
        "operationId": "getCapsuleFile",
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "4XX": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponse",
                  "example": {
                    "success": false,
                    "message": "Error message",
                    "data": null,
                    "errorCode": 100,
                    "timestamp": "2025-07-31T10:55:12.588Z",
                    "statusCode": 400,
                    "path": "/api/some-endpoint",
                    "errors": [
                      "Validation error occurred"
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "head": {
        "tags": [
          "capsule-controller"
        ],
        "summary": "Get File",
        "description": "Retrieves a file by its fileId",
        "operationId": "getCapsuleFile_1",
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "4XX": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponse",
                  "example": {
                    "success": false,
                    "message": "Error message",
                    "data": null,
                    "errorCode": 100,
                    "timestamp": "2025-07-31T10:55:12.588Z",
                    "statusCode": 400,
                    "path": "/api/some-endpoint",
                    "errors": [
                      "Validation error occurred"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/capsule/file/{fileId}/variant/{size}": {
      "get": {
        "tags": [
          "capsule-controller"
        ],
        "summary": "Get File Variant",
        "description": "MED-05 — 302-redirects to a short-lived presigned URL for the requested per-size media variant (THUMBNAIL/SMALL/MEDIUM image WebP, or STREAM transcoded video). Authorization mirrors the file download (owner-OR-PUBLIC, deny-by-default). If the requested size is not yet generated, redirects to the nearest larger ready variant, else the original — never a broken image (D-04). The backend never proxies variant bytes (D-03).",
        "operationId": "getVariant",
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "THUMBNAIL",
                "SMALL",
                "MEDIUM",
                "STREAM",
                "WATERMARKED_PREVIEW"
              ]
            }
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to presigned variant URL"
          },
          "4XX": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponse",
                  "example": {
                    "success": false,
                    "message": "Error message",
                    "data": null,
                    "errorCode": 100,
                    "timestamp": "2025-07-31T10:55:12.588Z",
                    "statusCode": 400,
                    "path": "/api/some-endpoint",
                    "errors": [
                      "Validation error occurred"
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "head": {
        "tags": [
          "capsule-controller"
        ],
        "summary": "Get File Variant",
        "description": "MED-05 — 302-redirects to a short-lived presigned URL for the requested per-size media variant (THUMBNAIL/SMALL/MEDIUM image WebP, or STREAM transcoded video). Authorization mirrors the file download (owner-OR-PUBLIC, deny-by-default). If the requested size is not yet generated, redirects to the nearest larger ready variant, else the original — never a broken image (D-04). The backend never proxies variant bytes (D-03).",
        "operationId": "getVariant_1",
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "THUMBNAIL",
                "SMALL",
                "MEDIUM",
                "STREAM",
                "WATERMARKED_PREVIEW"
              ]
            }
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to presigned variant URL"
          },
          "4XX": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponse",
                  "example": {
                    "success": false,
                    "message": "Error message",
                    "data": null,
                    "errorCode": 100,
                    "timestamp": "2025-07-31T10:55:12.588Z",
                    "statusCode": 400,
                    "path": "/api/some-endpoint",
                    "errors": [
                      "Validation error occurred"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/speaker/profile": {
      "get": {
        "tags": [
          "Speaker Profile"
        ],
        "summary": "Get the caller's own speaker profile",
        "operationId": "getOwnProfile",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponseSpeakerProfileResponseContract"
                }
              }
            }
          },
          "4XX": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponse",
                  "example": {
                    "success": false,
                    "message": "Error message",
                    "data": null,
                    "errorCode": 100,
                    "timestamp": "2025-07-31T10:55:12.588Z",
                    "statusCode": 400,
                    "path": "/api/some-endpoint",
                    "errors": [
                      "Validation error occurred"
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Speaker Profile"
        ],
        "summary": "Upsert the caller's own speaker profile",
        "operationId": "upsertProfile",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SpeakerProfileRequestContract"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponseSpeakerProfileResponseContract"
                }
              }
            }
          },
          "4XX": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponse",
                  "example": {
                    "success": false,
                    "message": "Error message",
                    "data": null,
                    "errorCode": 100,
                    "timestamp": "2025-07-31T10:55:12.588Z",
                    "statusCode": 400,
                    "path": "/api/some-endpoint",
                    "errors": [
                      "Validation error occurred"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/reflection/consent": {
      "get": {
        "tags": [
          "Reflection Consent"
        ],
        "summary": "Get my reflection / content-understanding consent state",
        "operationId": "getMyReflectionConsent",
        "responses": {
          "200": {
            "description": "Caller's reflection consent state",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponseReflectionConsentResponseContract"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponseReflectionConsentResponseContract"
                }
              }
            }
          },
          "4XX": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponse",
                  "example": {
                    "success": false,
                    "message": "Error message",
                    "data": null,
                    "errorCode": 100,
                    "timestamp": "2025-07-31T10:55:12.588Z",
                    "statusCode": 400,
                    "path": "/api/some-endpoint",
                    "errors": [
                      "Validation error occurred"
                    ]
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Reflection Consent"
        ],
        "summary": "Set my reflection / content-understanding consent (grant / revoke)",
        "operationId": "setMyReflectionConsent",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReflectionConsentGrantRequestContract"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Updated reflection consent state",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponseReflectionConsentResponseContract"
                }
              }
            }
          },
          "400": {
            "description": "Validation error (e.g. malformed termsVersion, missing ack on grant)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponseReflectionConsentResponseContract"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponseReflectionConsentResponseContract"
                }
              }
            }
          },
          "4XX": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponse",
                  "example": {
                    "success": false,
                    "message": "Error message",
                    "data": null,
                    "errorCode": 100,
                    "timestamp": "2025-07-31T10:55:12.588Z",
                    "statusCode": 400,
                    "path": "/api/some-endpoint",
                    "errors": [
                      "Validation error occurred"
                    ]
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/photographer/profile": {
      "get": {
        "tags": [
          "Photographer Profile"
        ],
        "summary": "Get the caller's own photographer profile",
        "operationId": "getOwnProfile_1",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponsePhotographerProfileResponseContract"
                }
              }
            }
          },
          "4XX": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponse",
                  "example": {
                    "success": false,
                    "message": "Error message",
                    "data": null,
                    "errorCode": 100,
                    "timestamp": "2025-07-31T10:55:12.588Z",
                    "statusCode": 400,
                    "path": "/api/some-endpoint",
                    "errors": [
                      "Validation error occurred"
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Photographer Profile"
        ],
        "summary": "Upsert the caller's own photographer profile",
        "operationId": "upsertProfile_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PhotographerProfileRequestContract"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponsePhotographerProfileResponseContract"
                }
              }
            }
          },
          "4XX": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponse",
                  "example": {
                    "success": false,
                    "message": "Error message",
                    "data": null,
                    "errorCode": 100,
                    "timestamp": "2025-07-31T10:55:12.588Z",
                    "statusCode": 400,
                    "path": "/api/some-endpoint",
                    "errors": [
                      "Validation error occurred"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/org/{orgId}/branding": {
      "get": {
        "tags": [
          "Org Branding"
        ],
        "summary": "Get Org Branding",
        "description": "BRAND-01 — returns the org default branding (colors/font/logo/watermark). A caller who is not an org admin is rejected 403.",
        "operationId": "getBranding",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponseBrandingResponseContract"
                }
              }
            }
          },
          "4XX": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponse",
                  "example": {
                    "success": false,
                    "message": "Error message",
                    "data": null,
                    "errorCode": 100,
                    "timestamp": "2025-07-31T10:55:12.588Z",
                    "statusCode": 400,
                    "path": "/api/some-endpoint",
                    "errors": [
                      "Validation error occurred"
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Org Branding"
        ],
        "summary": "Update Org Branding",
        "description": "BRAND-01/03 — sets/replaces the org default branding. Bean-validated (hex colors, length/opacity bounds); a non-org-admin is rejected 403; a cross-aggregate logo/watermark file reference is rejected 400.",
        "operationId": "updateBranding",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBrandingRequestContract"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponseBrandingResponseContract"
                }
              }
            }
          },
          "4XX": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponse",
                  "example": {
                    "success": false,
                    "message": "Error message",
                    "data": null,
                    "errorCode": 100,
                    "timestamp": "2025-07-31T10:55:12.588Z",
                    "statusCode": 400,
                    "path": "/api/some-endpoint",
                    "errors": [
                      "Validation error occurred"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/notification/{id}/read": {
      "put": {
        "tags": [
          "Notifications"
        ],
        "summary": "Mark notification as read",
        "description": "Marks a specific notification as read",
        "operationId": "markNotificationAsRead",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Notification ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Notification marked as read",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponseVoid"
                }
              }
            }
          },
          "404": {
            "description": "Notification not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponseVoid"
                }
              }
            }
          },
          "4XX": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponse",
                  "example": {
                    "success": false,
                    "message": "Error message",
                    "data": null,
                    "errorCode": 100,
                    "timestamp": "2025-07-31T10:55:12.588Z",
                    "statusCode": 400,
                    "path": "/api/some-endpoint",
                    "errors": [
                      "Validation error occurred"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/notification/templates/{id}": {
      "get": {
        "tags": [
          "Notification Templates"
        ],
        "summary": "Get template by ID",
        "description": "Retrieves a notification template by its ID",
        "operationId": "getTemplate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Template ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationTemplateResponseContract"
                }
              }
            }
          },
          "4XX": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponse",
                  "example": {
                    "success": false,
                    "message": "Error message",
                    "data": null,
                    "errorCode": 100,
                    "timestamp": "2025-07-31T10:55:12.588Z",
                    "statusCode": 400,
                    "path": "/api/some-endpoint",
                    "errors": [
                      "Validation error occurred"
                    ]
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      },
      "put": {
        "tags": [
          "Notification Templates"
        ],
        "summary": "Update notification template",
        "description": "Updates an existing notification template",
        "operationId": "updateTemplate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Template ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationTemplateRequestContract"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationTemplateResponseContract"
                }
              }
            }
          },
          "4XX": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponse",
                  "example": {
                    "success": false,
                    "message": "Error message",
                    "data": null,
                    "errorCode": 100,
                    "timestamp": "2025-07-31T10:55:12.588Z",
                    "statusCode": 400,
                    "path": "/api/some-endpoint",
                    "errors": [
                      "Validation error occurred"
                    ]
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Notification Templates"
        ],
        "summary": "Deactivate template",
        "description": "Deactivates a notification template",
        "operationId": "deactivateTemplate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Template ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "4XX": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponse",
                  "example": {
                    "success": false,
                    "message": "Error message",
                    "data": null,
                    "errorCode": 100,
                    "timestamp": "2025-07-31T10:55:12.588Z",
                    "statusCode": 400,
                    "path": "/api/some-endpoint",
                    "errors": [
                      "Validation error occurred"
                    ]
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/api/notification/read-all": {
      "put": {
        "tags": [
          "Notifications"
        ],
        "summary": "Mark all notifications as read",
        "description": "Marks all notifications as read for the authenticated user",
        "operationId": "markAllNotificationsAsRead",
        "responses": {
          "200": {
            "description": "All notifications marked as read",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponseVoid"
                }
              }
            }
          },
          "4XX": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponse",
                  "example": {
                    "success": false,
                    "message": "Error message",
                    "data": null,
                    "errorCode": 100,
                    "timestamp": "2025-07-31T10:55:12.588Z",
                    "statusCode": 400,
                    "path": "/api/some-endpoint",
                    "errors": [
                      "Validation error occurred"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/notification/preferences": {
      "get": {
        "tags": [
          "Notifications"
        ],
        "summary": "Get notification preferences",
        "description": "Get notification preferences for the authenticated user",
        "operationId": "getNotificationPreferences",
        "responses": {
          "200": {
            "description": "Notification preferences retrieved successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponseBoolean"
                }
              }
            }
          },
          "4XX": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponse",
                  "example": {
                    "success": false,
                    "message": "Error message",
                    "data": null,
                    "errorCode": 100,
                    "timestamp": "2025-07-31T10:55:12.588Z",
                    "statusCode": 400,
                    "path": "/api/some-endpoint",
                    "errors": [
                      "Validation error occurred"
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Notifications"
        ],
        "summary": "Update notification preferences",
        "description": "Enable or disable push notifications for the authenticated user",
        "operationId": "updateNotificationPreferences",
        "parameters": [
          {
            "name": "enabled",
            "in": "query",
            "description": "Enable or disable notifications",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Notification preferences updated successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponseVoid"
                }
              }
            }
          },
          "4XX": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponse",
                  "example": {
                    "success": false,
                    "message": "Error message",
                    "data": null,
                    "errorCode": 100,
                    "timestamp": "2025-07-31T10:55:12.588Z",
                    "statusCode": 400,
                    "path": "/api/some-endpoint",
                    "errors": [
                      "Validation error occurred"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/notification/preferences/detailed": {
      "get": {
        "tags": [
          "Notifications"
        ],
        "summary": "Get granular notification preferences",
        "description": "Get detailed notification preferences for all notification types",
        "operationId": "getDetailedPreferences",
        "responses": {
          "200": {
            "description": "Preferences retrieved successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponseListNotificationPreferenceResponseContract"
                }
              }
            }
          },
          "4XX": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponse",
                  "example": {
                    "success": false,
                    "message": "Error message",
                    "data": null,
                    "errorCode": 100,
                    "timestamp": "2025-07-31T10:55:12.588Z",
                    "statusCode": 400,
                    "path": "/api/some-endpoint",
                    "errors": [
                      "Validation error occurred"
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Notifications"
        ],
        "summary": "Update granular notification preference",
        "description": "Update notification preference for a specific notification type",
        "operationId": "updateDetailedPreference",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateNotificationPreferenceRequestContract"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Preference updated successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponseNotificationPreferenceResponseContract"
                }
              }
            }
          },
          "4XX": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponse",
                  "example": {
                    "success": false,
                    "message": "Error message",
                    "data": null,
                    "errorCode": 100,
                    "timestamp": "2025-07-31T10:55:12.588Z",
                    "statusCode": 400,
                    "path": "/api/some-endpoint",
                    "errors": [
                      "Validation error occurred"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/insight/consent": {
      "get": {
        "tags": [
          "Insight Consent"
        ],
        "summary": "Get my generative-insights consent state",
        "operationId": "getMyInsightConsent",
        "responses": {
          "200": {
            "description": "Caller's insight consent state",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponseInsightConsentResponseContract"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponseInsightConsentResponseContract"
                }
              }
            }
          },
          "4XX": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponse",
                  "example": {
                    "success": false,
                    "message": "Error message",
                    "data": null,
                    "errorCode": 100,
                    "timestamp": "2025-07-31T10:55:12.588Z",
                    "statusCode": 400,
                    "path": "/api/some-endpoint",
                    "errors": [
                      "Validation error occurred"
                    ]
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Insight Consent"
        ],
        "summary": "Set my generative-insights consent (grant / revoke)",
        "operationId": "setMyInsightConsent",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InsightConsentGrantRequestContract"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Updated insight consent state",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponseInsightConsentResponseContract"
                }
              }
            }
          },
          "400": {
            "description": "Validation error (e.g. malformed termsVersion)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponseInsightConsentResponseContract"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponseInsightConsentResponseContract"
                }
              }
            }
          },
          "4XX": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponse",
                  "example": {
                    "success": false,
                    "message": "Error message",
                    "data": null,
                    "errorCode": 100,
                    "timestamp": "2025-07-31T10:55:12.588Z",
                    "statusCode": 400,
                    "path": "/api/some-endpoint",
                    "errors": [
                      "Validation error occurred"
                    ]
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/event/{eventId}": {
      "get": {
        "tags": [
          "Event"
        ],
        "summary": "Get Event",
        "description": "Retrieves an event by its ID with all related data. Public events are readable without authentication so SSR, Open Graph link previews, and search engines can index them. PRIVATE events return 404 for anonymous callers.",
        "operationId": "getEvent",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GetEventResponseWrapper"
                }
              }
            }
          },
          "404": {
            "description": "Event not found or PRIVATE without access",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponseGetEventResponseContract"
                }
              }
            }
          },
          "4XX": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponse",
                  "example": {
                    "success": false,
                    "message": "Error message",
                    "data": null,
                    "errorCode": 100,
                    "timestamp": "2025-07-31T10:55:12.588Z",
                    "statusCode": 400,
                    "path": "/api/some-endpoint",
                    "errors": [
                      "Validation error occurred"
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Event"
        ],
        "summary": "Update Event",
        "description": "Updates an existing event (hosts only)",
        "operationId": "updateEvent",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEventRequestContract"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateEventResponseWrapper"
                }
              }
            }
          },
          "4XX": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponse",
                  "example": {
                    "success": false,
                    "message": "Error message",
                    "data": null,
                    "errorCode": 100,
                    "timestamp": "2025-07-31T10:55:12.588Z",
                    "statusCode": 400,
                    "path": "/api/some-endpoint",
                    "errors": [
                      "Validation error occurred"
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Event"
        ],
        "summary": "Delete Event",
        "description": "Deletes an event by its ID (hosts only)",
        "operationId": "deleteEvent",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponseVoid"
                }
              }
            }
          },
          "4XX": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponse",
                  "example": {
                    "success": false,
                    "message": "Error message",
                    "data": null,
                    "errorCode": 100,
                    "timestamp": "2025-07-31T10:55:12.588Z",
                    "statusCode": 400,
                    "path": "/api/some-endpoint",
                    "errors": [
                      "Validation error occurred"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/event/{eventId}/visibility": {
      "put": {
        "tags": [
          "Event"
        ],
        "summary": "Set org event visibility (publish/unpublish to consumer surfaces)",
        "description": "Toggles an org event's visibility (ORG_INTERNAL/PUBLIC). Org Admin/Coordinator only; B2C (non-org) events are rejected.",
        "operationId": "setEventVisibility",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetEventVisibilityRequestContract"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GetEventResponseWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Event is not org-scoped",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponseGetEventResponseContract"
                }
              }
            }
          },
          "4XX": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponse",
                  "example": {
                    "success": false,
                    "message": "Error message",
                    "data": null,
                    "errorCode": 100,
                    "timestamp": "2025-07-31T10:55:12.588Z",
                    "statusCode": 400,
                    "path": "/api/some-endpoint",
                    "errors": [
                      "Validation error occurred"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/event/{eventId}/venue/{venueId}": {
      "put": {
        "tags": [
          "Conference Venue"
        ],
        "summary": "Update venue",
        "operationId": "updateVenue",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "venueId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VenueRequestContract"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponseVenueResponseContract"
                }
              }
            }
          },
          "4XX": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponse",
                  "example": {
                    "success": false,
                    "message": "Error message",
                    "data": null,
                    "errorCode": 100,
                    "timestamp": "2025-07-31T10:55:12.588Z",
                    "statusCode": 400,
                    "path": "/api/some-endpoint",
                    "errors": [
                      "Validation error occurred"
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Conference Venue"
        ],
        "summary": "Delete venue",
        "operationId": "deleteVenue",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "venueId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponseVoid"
                }
              }
            }
          },
          "4XX": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponse",
                  "example": {
                    "success": false,
                    "message": "Error message",
                    "data": null,
                    "errorCode": 100,
                    "timestamp": "2025-07-31T10:55:12.588Z",
                    "statusCode": 400,
                    "path": "/api/some-endpoint",
                    "errors": [
                      "Validation error occurred"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/event/{eventId}/venue/{venueId}/rooms/{roomId}": {
      "put": {
        "tags": [
          "Conference Venue"
        ],
        "summary": "Update room",
        "operationId": "updateRoom",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "venueId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoomRequestContract"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponseRoomResponseContract"
                }
              }
            }
          },
          "4XX": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponse",
                  "example": {
                    "success": false,
                    "message": "Error message",
                    "data": null,
                    "errorCode": 100,
                    "timestamp": "2025-07-31T10:55:12.588Z",
                    "statusCode": 400,
                    "path": "/api/some-endpoint",
                    "errors": [
                      "Validation error occurred"
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Conference Venue"
        ],
        "summary": "Delete room",
        "operationId": "deleteRoom",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "venueId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponseVoid"
                }
              }
            }
          },
          "4XX": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponse",
                  "example": {
                    "success": false,
                    "message": "Error message",
                    "data": null,
                    "errorCode": 100,
                    "timestamp": "2025-07-31T10:55:12.588Z",
                    "statusCode": 400,
                    "path": "/api/some-endpoint",
                    "errors": [
                      "Validation error occurred"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/event/{eventId}/share-settings": {
      "put": {
        "tags": [
          "Event"
        ],
        "summary": "Update Event Share Settings",
        "description": "Updates event privacy and sharing settings (hosts only). Can toggle public join and regenerate invite token.",
        "operationId": "updateEventShareSettings",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEventShareSettingsRequestContract"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponseVoid"
                }
              }
            }
          },
          "4XX": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponse",
                  "example": {
                    "success": false,
                    "message": "Error message",
                    "data": null,
                    "errorCode": 100,
                    "timestamp": "2025-07-31T10:55:12.588Z",
                    "statusCode": 400,
                    "path": "/api/some-endpoint",
                    "errors": [
                      "Validation error occurred"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/event/{eventId}/photographer/photos/resumable/{uploadSessionId}/part/{partNumber}": {
      "put": {
        "tags": [
          "Resumable Upload"
        ],
        "summary": "Stream one upload part (raw octet-stream, never buffered)",
        "operationId": "uploadPart",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uploadSessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "partNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponseResumablePartResponseContract"
                }
              }
            }
          },
          "4XX": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponse",
                  "example": {
                    "success": false,
                    "message": "Error message",
                    "data": null,
                    "errorCode": 100,
                    "timestamp": "2025-07-31T10:55:12.588Z",
                    "statusCode": 400,
                    "path": "/api/some-endpoint",
                    "errors": [
                      "Validation error occurred"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/event/{eventId}/photo/{photoId}/access": {
      "put": {
        "tags": [
          "Event"
        ],
        "summary": "Update Photo Access Level",
        "description": "Updates the access level of a photo (uploader only)",
        "operationId": "updatePhotoAccessLevel",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "photoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePhotoAccessLevelRequestContract"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponseVoid"
                }
              }
            }
          },
          "4XX": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponse",
                  "example": {
                    "success": false,
                    "message": "Error message",
                    "data": null,
                    "errorCode": 100,
                    "timestamp": "2025-07-31T10:55:12.588Z",
                    "statusCode": 400,
                    "path": "/api/some-endpoint",
                    "errors": [
                      "Validation error occurred"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/event/{eventId}/branding": {
      "get": {
        "tags": [
          "Event Branding"
        ],
        "summary": "Get Resolved Event Branding",
        "description": "BRAND-03 — returns the RESOLVED branding for the event (event override layered over the org default). A caller who cannot manage the org event is rejected 403; a missing event is rejected 404.",
        "operationId": "getResolvedBranding",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponseBrandingResponseContract"
                }
              }
            }
          },
          "4XX": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponse",
                  "example": {
                    "success": false,
                    "message": "Error message",
                    "data": null,
                    "errorCode": 100,
                    "timestamp": "2025-07-31T10:55:12.588Z",
                    "statusCode": 400,
                    "path": "/api/some-endpoint",
                    "errors": [
                      "Validation error occurred"
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Event Branding"
        ],
        "summary": "Update Event Branding Override",
        "description": "BRAND-03 — sets/replaces the event-level branding override. Bean-validated (hex colors, length/opacity bounds); a caller who cannot manage the org event is rejected 403; a missing event is rejected 404.",
        "operationId": "updateBranding_1",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBrandingRequestContract"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponseBrandingResponseContract"
                }
              }
            }
          },
          "4XX": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponse",
                  "example": {
                    "success": false,
                    "message": "Error message",
                    "data": null,
                    "errorCode": 100,
                    "timestamp": "2025-07-31T10:55:12.588Z",
                    "statusCode": 400,
                    "path": "/api/some-endpoint",
                    "errors": [
                      "Validation error occurred"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/event/{eventId}/attendee/{userId}/reject": {
      "put": {
        "tags": [
          "Event"
        ],
        "summary": "Reject Pending Attendee",
        "description": "Rejects a pending attendee (removes from attendee list). Hosts only.",
        "operationId": "rejectAttendee",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RejectAttendeeRequestContract"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Attendee rejected successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponseVoid"
                }
              }
            }
          },
          "4XX": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponse",
                  "example": {
                    "success": false,
                    "message": "Error message",
                    "data": null,
                    "errorCode": 100,
                    "timestamp": "2025-07-31T10:55:12.588Z",
                    "statusCode": 400,
                    "path": "/api/some-endpoint",
                    "errors": [
                      "Validation error occurred"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/event/{eventId}/attendee/{userId}/approve": {
      "put": {
        "tags": [
          "Event"
        ],
        "summary": "Approve Pending Attendee",
        "description": "Approves a pending attendee (changes status from INVITED to GOING). Hosts only.",
        "operationId": "approveAttendee",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApproveAttendeeRequestContract"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Attendee approved successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponseVoid"
                }
              }
            }
          },
          "4XX": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponse",
                  "example": {
                    "success": false,
                    "message": "Error message",
                    "data": null,
                    "errorCode": 100,
                    "timestamp": "2025-07-31T10:55:12.588Z",
                    "statusCode": 400,
                    "path": "/api/some-endpoint",
                    "errors": [
                      "Validation error occurred"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/event/{eventId}/agenda/tracks/{trackId}": {
      "put": {
        "tags": [
          "Conference Agenda"
        ],
        "summary": "Update track",
        "operationId": "updateTrack",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "trackId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrackRequestContract"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponseTrackResponseContract"
                }
              }
            }
          },
          "4XX": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponse",
                  "example": {
                    "success": false,
                    "message": "Error message",
                    "data": null,
                    "errorCode": 100,
                    "timestamp": "2025-07-31T10:55:12.588Z",
                    "statusCode": 400,
                    "path": "/api/some-endpoint",
                    "errors": [
                      "Validation error occurred"
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Conference Agenda"
        ],
        "summary": "Delete track",
        "operationId": "deleteTrack",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "trackId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponseVoid"
                }
              }
            }
          },
          "4XX": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponse",
                  "example": {
                    "success": false,
                    "message": "Error message",
                    "data": null,
                    "errorCode": 100,
                    "timestamp": "2025-07-31T10:55:12.588Z",
                    "statusCode": 400,
                    "path": "/api/some-endpoint",
                    "errors": [
                      "Validation error occurred"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/event/{eventId}/agenda/sessions/{sessionId}": {
      "put": {
        "tags": [
          "Conference Agenda"
        ],
        "summary": "Update session",
        "operationId": "updateSession",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SessionRequestContract"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponseSessionResponseContract"
                }
              }
            }
          },
          "4XX": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponse",
                  "example": {
                    "success": false,
                    "message": "Error message",
                    "data": null,
                    "errorCode": 100,
                    "timestamp": "2025-07-31T10:55:12.588Z",
                    "statusCode": 400,
                    "path": "/api/some-endpoint",
                    "errors": [
                      "Validation error occurred"
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Conference Agenda"
        ],
        "summary": "Delete session",
        "operationId": "deleteSession",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponseVoid"
                }
              }
            }
          },
          "4XX": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseContractResponse",
                  "example": {
                    "success": false,
                    "message": "Error message",
                    "data": null,
                    "errorCode": 100,
                    "timestamp": "2025-07-31T10:55:12.588Z",
                    "statusCode": 400,
                    "path": "/api/some-endpoint",
                    "errors": [
                      "Validation error occurred"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/capsule/{capsuleId}": {
      "get": {
        "tags": [
          "capsule-controller"
        ],
        "summary": "Get Capsule",
        "description": "Retrieves a capsule by its ID",
        "operationId": "getCapsule",
        "parameters": [
          {
            "name": "capsuleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GetCapsuleResponseWrapper"
                }
              }
            }
          },
[...]
